<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>单选</h2>

    <select v-model="gender">
      <option value="">Select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <p>Selected: {{ gender }}</p>

    <h2>多选</h2>
    <!-- size是展出的高度 -->
    <select v-model="genders" multiple size="2">
      <option value="">Select</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <p>Selected: {{ genders }}</p>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          gender: '',
          genders: []
        }
      },
    });
    app.mount("#app");
  </script>
</body>

</html>